body {
  margin: 0;
}

p {
  margin: 0;
}

.app {
  width: 100%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.status {
  width: 200px;
  display: inline-block;
  vertical-align: top;
  margin-top: 230px;
}

.board {
  width: 200px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.layer {
  margin-top: 30px;
}

.square {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border: 1px solid black;
  height: 40px;
  width: 40px;
}

.square:hover {
  cursor: pointer;
}

.free:hover {
  background: #5F5;
  transition: 0.5s;
}

.taken:hover {
  background: #F55;
  transition: 0.5s;
}

.score {
  width: 200px;
  display: inline-block;
  vertical-align: top;
  margin-top: 220px;
}
