body {
  margin: 0;
  min-width: 300px;
}

p {
  margin: 0;
}

.app {
  width: 100%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.main {
  width: 250px;
}

.status {
  display: inline-block;
  vertical-align: top;
  margin-top: 230px;
}

.reset {
  margin: 4px auto 0;
}

.board {
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.layer {
  margin-top: 30px;
}

.square {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border: 1px solid black;
  height: 40px;
  width: 40px;
}

.square:hover {
  cursor: pointer;
}

.free:hover {
  background: #5F5;
  transition: 0.5s;
}

.taken:hover {
  background: #F55;
  transition: 0.5s;
}

.score {
  display: inline-block;
  vertical-align: top;
  margin-top: 220px;
}

.load-screen *:hover {
  background: white;
}

.load-screen > .board > .layer > .line > .taken {
  background: red;
}


@media (max-width: 800px) {
  .main {
    width: 150px;
  }

  .status {
    margin-top: 200px;
    height: 40px;
  }

  .reset {
    width: 140px;
  }

  .layer {
    margin-top: 10px;
  }

  .score {
    margin-top: 200px;
  }
}

@media (max-width: 500px) {

  .main {
    width: 100%;
    margin-top: 5px;
  }

  .status {
    height: 40px;
  }

  .reset {
    width: 100%;
  }
}
